[data-intl-tel-input] {
  background-color: initial;
}

.input {
  border-radius: 1rem;
  padding: 4px;
  background-color: transparent;
}

input {
  background: initial;
  background-color: initial;
}

input.iti__search-input {
  padding: 4px;
  border-radius: 1rem;
  background-color: transparent;
}

/* FOR WEBFLOW */

.iti__dropdown-content {
  border-radius: 0.5rem !important;
  overflow: clip;
  padding-inline: 0.5rem;
  border: 1px solid #d9dbe0 !important;
  box-shadow: 0px 4px 20px 0px rgba(3, 12, 48, 0.1);
}

.iti__search-input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-inline: 1rem !important;
  padding-block: 0.5rem !important;
  border-radius: 999999px !important;
  outline: none;
  border: 1px solid #d9dbe0 !important;
}

.iti__country-list {
  margin-inline: -0.5rem !important;
}

.iti__country {
  padding-inline: 1rem !important;
  padding-block: 0.5rem !important ;
}

.iti__country.iti__highlight {
  background: #f5f7f9 !important;
}

.iti__selected-country-primary {
  border-radius: 0.5rem !important;
}

.iti__selected-country {
  border-radius: 0.5rem !important;
}

.consult-phone-contain .iti__selected-country {
  padding-inline: 1rem;
}
