.calculator-form_step.is--hidden {
  display: none;
}

.address-input-container {
  position: relative;
  flex: 1;
}

.search-result-container {
  position: absolute;
  background-color: var(--swatch--light-bg);
  border-radius: 1.5rem;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.search-result-list {
  list-style: none;
  width: 100%;
  display: grid;
  padding-left: 0px;
  margin-bottom: 0px;
  padding: 0.5rem;
}

.search-result-item {
  padding-inline: 0.625rem;
  padding-block: 0.625rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1.25rem 1fr;
  align-items: center;
  justify-content: start;
  column-gap: 0.5rem;
}

.search-result-item.focused {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-item-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}

.search-item-text {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
